#container {
    display: grid; 
    grid-template: repeat(16, minmax(0, 1fr)) / repeat(16, minmax(0, 1fr));
    gap: 0vw;
    box-sizing: border-box;
}

.grid-item {
    min-width: 5vw;
    min-height: 5vh;
    border: 3px solid black;
}

.grid-item:hover, .grid-item.active {
    background-color: rgb(236, 60, 157);
}